<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-8 offset-2">
    <h3><b>Create New Listing</b>
    </h3>
    <form method="post" action="/listings" novalidate class="needs-validation">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" placeholder="eg. Burj Khalifa" name="listing[title]" class="form-control" required />
        <div class="valid-feedback">
          OK
        </div>
        <div class="invalid-feedback">
          Fill the field
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Enter your description</label>
        <textarea type="text" placeholder="eg.This is the one of the tallest building in the world" name="listing[description]" class="form-control" required></textarea>
        <div class="valid-feedback">
          OK
        </div>
        <div class="invalid-feedback">
          Fill the field
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-5">
          <label for="image" class="form-label">Upload your image</label>
          <input type="text" placeholder="eg.web url " name="listing[image][url]" class="form-control" />

        </div>

        <div class="mb-3 col-md-7">
          <label for="loaction" class="form-label">Location</label>
          <input type="text" placeholder="eg.Jaipur " name="listing[location]" class="form-control" required />
          <div class="valid-feedback">
            OK
          </div>
          <div class="invalid-feedback">
            Fill the field
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" placeholder="eg.1,200" name="listing[price]" class="form-control" required />
        <div class="valid-feedback">
          OK
        </div>
        <div class="invalid-feedback">
          Fill the field
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" placeholder="eg.India etc" name="listing[country]" class="form-control" required />
        <div class="valid-feedback">
          OK
        </div>
        <div class="invalid-feedback">
          Fill the field
        </div>
      </div>

      <button class="btn btn-success">submit</button>
      <br><br>
    </form>
  </div>
</div>